
<div class="container-fluid" style="padding-top: 30px">
    <button class="btn btn-danger" data-ng-click="stop()">Stop</button>
    <button class="btn btn-success" data-ng-click="start()">Start</button>
    <div class="panel panel-primary" ng-show="isSlide">
        <div class="panel-heading"><h1>{{pic[idx]}}</h1></div>
        <img data-ng-src="modules/slideShow/images/pic_{{pic[idx]}}.jpg" style="max-height: 300px; max-width: 300px;"/>
    </div>

    <div >
        <img ng-repeat="p in pic" ng-show="!isSlide" data-ng-src="modules/slideShow/images/pic_{{p}}.jpg" style="max-height: 100px; max-width: 100px;"/>
   </div>
</div>
