<div class="container-fluid">
    <h1>Tim's calculator attempt ^_^</h1><br>
    <p>I used the Factory service. Now the current state of the Calculator will be saved when switching from one tab to another and back again.</p>
</div>


<div class="container">
    <h3>
        <span class="label label-default">{{"Calculate: " + calcNumber}}</span>
    </h3>
    <div class="btn-group">
        <br>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(7)">7</button>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(8)">8</button>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(9)">9</button>
        <button type="button" class="btn btn-primary" data-ng-click="operationPress('/', 2)">/</button>
        <br>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(4)">4</button>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(5)">5</button>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(6)">6</button>
        <button type="button" class="btn btn-primary" data-ng-click="operationPress('*', 1)">*</button>
        <br>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(1)">1</button>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(2)">2</button>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(3)">3</button>
        <button type="button" class="btn btn-primary" data-ng-click="operationPress('-', 3)">-</button>
        <br>
        <button type="button" class="btn btn-primary" data-ng-click="numberPress(0)">0</button>
        <button type="button" class="btn btn-primary" data-ng-click="clearPress()">C</button>
        <button type="button" class="btn btn-primary" data-ng-click="operationPress('=', 0)">=</button>
        <button type="button" class="btn btn-primary" data-ng-click="operationPress('+', 4)">+</button>
    </div>
</div>