<div class="container-fluid" style="padding-top: 30px">
    <form name="user" ng-submit="getUserInfo(user_input)">
        GitHub Username: <input type="text" ng-model="user_input" />
        <button type="submit">Submit</button>
    </form>

    <div ng-show="!!user && goShow">
        <h1>GitHub user: {{user.login | frstLttrCp}}</h1><br/>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}"><br/>
        <h3>{{user.login.cap}} has the following account atributes</h3>
        <ul>
            <li>{{user.followers}} followers</li>
            <li>is following {{user.following}} people</li>
            <li>has {{user.public_repos}} public repos</li>
        </ul>
    </div>
</div>